@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
:root{
  --customRed: #af231c; 
}

/*NAVIGATION BAR*/
nav{
  /*background-color: #9d0208;*/
  background-color: var(--customRed);
  
}
nav, .nav-img{
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo{
  height: 13vh;
  width: auto;
  margin-left: 2rem;
}

.nav-links ul{
  list-style: none;
  padding-right: 3rem;
}
.nav-links ul li{
  display: inline;
  padding-left: 3rem;
}
.nav-links ul a{
  text-decoration: none; 
  font-size: 1.15rem;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

/*END NAV*/



/*FOOTER*/

footer{
  background: url(https://cdn.glitch.me/dea4e612-30de-4cea-b227-75f53191de9f%2Ffooter.png?v=1638411983784);
  
  background-size: cover;
  background-position: right 30px top 100px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
}
.footer-row1{
  margin-left: 10%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-row2{
  padding-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7rem;
}
.footer-header{
  color: #ffba07;
  font-size: 1.4rem;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
}
.fa, .fab {
  padding: 10px;
  font-size: 20px;
  width: 39px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: var(--customRed);
  background-color: white;
  
}

.fa:hover, .fab:hover{
  background-color:black;
  color: var(--customRed);
  transition: background-color 250ms linear;
}

#apple-btn{
  height: 40px;
  width: auto;
}
#android-btn{
  height: 33px;
  width: auto;
}
#footer-phone{
  color:#ffba07;
  font-size: 1rem;
  font-family: 'Orbitron', sans-serif;
}
/*END FOOTER*/

/*HOME BANNER*/

.home-banner{
  background: url(https://cdn.glitch.me/dea4e612-30de-4cea-b227-75f53191de9f%2Fhome-banner.jpg?v=1638420813221);
  height: 87vh;
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}