<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://www.logolynx.com/images/logolynx/fa/fa3529f4821f9e7976622ce790c3d028.jpeg">
    <title>Menu - Burger</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <script src="https://kit.fontawesome.com/a2c0b46596.js" crossorigin="anonymous"></script>
    <!-- Import Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Import Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  
  
<body> 
  <header>
    <!--NAVIGATION BAR-->
    <nav> 
      <div class="nav-img">
        <a href="index.html"> <img id="nav-logo" src="https://cdn.glitch.me/dea4e612-30de-4cea-b227-75f53191de9f%2Flogo.png?v=1638405722816"></a>
      </div>
      <div class="nav-links">
        <ul>     
          <li><a href="index.html" title="Home">Home</a></li>     
           <li class="dropdown">
            <a class="dropdown-toggle" href="MenuPage.html"  title="Menu" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
            <div class="dropdown-menu" style="background-color:black; color:#ffba07;">
              <a class="dropdown-item" href="MenuPage.html#burger-section">Burgers</a>
              <a class="dropdown-item" href="MenuPage.html#fries-section">Fries</a>
              <a class="dropdown-item" href="MenuPage.html#drinks-section">Drinks</a>
            </div>  
          </li>         
          <li><a href="Gallery.html" title="Gallery">Gallery</a></li>
          <li><a href="ContactPage.html" title="Contact Us">Contact Us</a></li>     
          <li><a href="CheckoutPage.html" title="Check Out"><i class="fas fa-shopping-cart"></i></a> </li>        
      </ul>     
      </div>
    </nav>
    <!--MENU TEXT -->
    <div class="menu-header">
      <h1>Our Menu</h1>
    </div>
  </header>
  
  <div id="app"> <!-- Start of Vue/App -->
  
    <main>
      <section class="shadow container p-5 my-5 bg-white rounded">   
        <div class="shadow bg-white border rounded menu-subheader">
          <h2 class="menu-item-heading" id="burger-section">Burgers</b></h2>
          <p>100% FRESH GROUND BEEF CHARGRILLED OVER AN OPEN FLAME</p>
        </div>    

        <div class="shadow bg-white border rounded">   
          <div class="row container justify-content-center">
            <!-- Burgers loop -->
            <div v-for="(burger, index) in burgers" :key="index" class="col-sm g-0">
              <div class="card p-3 my-5" style="width: 18rem;"> 
                <img class="card-img-top" v-bind:src="burger.image" alt="Card image cap"> 
                <div class="card-body">    
                  <p class="card-title2">{{ burger.name }}</p>   
                  <p class="card-text">{{ burger.description }}</p>  
                  <p class="card-text">{{ burger.price }}</p>   
                  <!-- Add to cart button -->
                  <button class="MenuAddbutton" data-bs-toggle="modal" data-bs-target="#burgerModal" v-on:click="setModalBurger(burger)"><i class="fas fa-cart-plus"></i></button>
                </div> <!-- End of card body -->
                
                <!-- Start of Modal content -->
                
                <div class="modal fade" id="burgerModal" tabindex="-1" aria-labelledby="burgerModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="burgerModalLabel">{{ modalBurger.name }}</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetItem(burger, modalBurger)"></button>
                      </div>
                      <div class="modal-body">
                        <!-- Start of Modal body content -->
                          
                        <!-- 
                          - Unique properties/options for an item in a v-for loop seem to require a workaround as the modal doesn't seem to loop the same as the cards 
                          - Modal for all burgers were showing the unique option that was only supposed to show on the modal for burger 1
                          - Workaround was creating the "setModalBurger (burger)" function which gets called when they hit button on card to open modal 
                            - This function simply passes the current food option in the loop to the function and sets an empty object equal to the passed burger object
                            - This basically allows the modals to loop similar to the cards
                          -->

                        <!-- Unique option for burger1 - Classic American -->
                        <div v-if="modalBurger.name == 'The Classic American'">
                            
                          <!-- Radio option for lettuce -->
                          <p>
                            <label for="lettuce">Lettuce:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.lettuce" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.lettuce" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for pickles -->
                          <p>
                            <label for="pickles">Pickles:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.pickles" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.pickles" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for tomatoes -->
                          <p>
                            <label for="tomatoes">Tomatoes:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.tomatoes" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.tomatoes" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for sauce -->
                          <p>
                            <label for="sauce">Sauce:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.sauce" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.sauce" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>

                        </div> 
                        
                          <!-- End of burger 1 - classic american options -->
                        
                         <!-- Unique option for burger 2 - House Burger -->
                        <div v-if="modalBurger.name == 'The House Burger'">
                            
                          <!-- Radio option for lettuce -->
                          <p>
                            <label for="lettuce">Lettuce:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.lettuce" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.lettuce" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for onions -->
                          <p>
                            <label for="onions">Onions:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.onions" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.onions" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for bacon -->
                          <p>
                            <label for="bacon">Bacon:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.bacon" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.bacon" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>

                        </div> 
                        
                          <!-- End of burger 2 - classic american options -->
                        
                         <!-- Unique option for burger 3 - Double Decker -->
                        <div v-if="modalBurger.name == 'The Double Decker'">
                            
                         <!-- Radio option for pickles -->
                          <p>
                            <label for="pickles">Pickles:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.pickles" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.pickles" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for tomatoes -->
                          <p>
                            <label for="tomatoes">Tomatoes:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.tomatoes" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.tomatoes" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for onions -->
                          <p>
                            <label for="onions">Onions:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.onions" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.onions" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for sauce -->
                          <p>
                            <label for="sauce">Sauce:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.sauce" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.sauce" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>

                        </div> 
                        
                          <!-- End of burger 3 - double decker options -->
                        
                        <!-- Unique option for burger 4 - Triple Decker -->
                        <div v-if="modalBurger.name == 'The Triple Decker'">
                            
                         <!-- Radio option for pickles -->
                          <p>
                            <label for="pickles">Pickles:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.pickles" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.pickles" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for tomatoes -->
                          <p>
                            <label for="tomatoes">Tomatoes:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.tomatoes" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.tomatoes" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for lettuce -->
                          <p>
                            <label for="lettuce">Lettuce:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.lettuce" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.lettuce" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                          
                          <!-- Radio option for avocado -->
                          <p>
                            <label for="avocado">Avocado:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="burger.options.avocado" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="burger.options.avocado" v-on:change="burgerValidation(burger, modalBurger)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>

                        </div> 
                        
                          <!-- End of burger 4 - triple decker options -->

                      </div> 
                      <!-- End of modal body content; start of footer-->

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetItem(burger, modalBurger)">Close</button>
                          <!-- Add to cart button is disabled if all customization options aren't selected (default)-->
                          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="must select all options before adding to cart">
                            <button id="disabledCartButton" class="btn" type="button" disabled>Add to Cart</button>
                          </span>

                          <!-- Add to Cart Button only appears if user selects all options -->
                          <button id="addBurgerModal" type="button" class="btn" data-bs-dismiss="modal" hidden v-on:click="addBurgerToCart(burger, modalBurger)">Add to Cart</button>
                        </div>          
                    </div>
                  </div>
                </div> <!-- End of modal -->
              </div>
            </div>  
          </div>  <!-- End of row-->    
        </div>   
      </section> <!-- End of burgers -->   
    
      <!-- FRIES SECTION -->
      <section class="shadow container p-5 my-5 bg-white rounded">  
        <div class="shadow bg-white border rounded menu-subheader">
          <h2 class="menu-item-heading" id="fries-section">Fries</b></h2> 
          <p>FRESH, THICK-CUT, CRISPY, AND GOLDEN-BROWN POTATOES</p>
        </div>
        <div class="shadow bg-white border rounded">        
          <div class="row container justify-content-center">
            <!-- Fries loop -->
            <div v-for="(fry, index) in fries" :key="index" class="col-sm g-0">
              <div class="card p-3 my-5" style="width: 18rem;"> 
                <img class="card-img-top" v-bind:src="fry.image" alt="Card image cap"> 
                <div class="card-body">    
                  <p class="card-title2">{{ fry.name }}</p>   
                  <p class="card-text">{{ fry.description }}</p>  
                  <p class="card-text">{{ fry.price }}</p>   
                  <!-- Add to cart button -->
                  <button class="MenuAddbutton" data-bs-toggle="modal" data-bs-target="#fryModal" v-on:click="setModalFry(fry)"><i class="fas fa-cart-plus"></i></button>
                </div> <!-- End of card body -->
                
                <!-- Start of Modal content -->
                
                <div class="modal fade" id="fryModal" tabindex="-1" aria-labelledby="fryModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="fryModalLabel">{{ modalFry.name }}</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetItem(fry, modalFry)"></button>
                      </div>
                      <div class="modal-body">
                        <!-- Start of Modal body content -->
                            
                        <!-- Radio option for size -->
                        <p>
                          <label for="size">Size:</label><br>
                          <input class="form-check-input" type="radio" id="small" value="small" v-model="fry.options.size" v-on:change="fryValidation(fry, modalFry)">
                          <label class="form-check-label" for="small">Small</label>
                          <br>
                          <input class="form-check-input" type="radio" id="medium" value="medium" v-model="fry.options.size" v-on:change="fryValidation(fry, modalFry)">
                          <label class="form-check-label" for="medium">Medium</label>
                          <br>
                          <input class="form-check-input" type="radio" id="large" value="large" v-model="fry.options.size" v-on:change="fryValidation(fry, modalFry)">
                          <label class="form-check-label" for="large">Large</label>
                        </p>
                        
                        <!-- Unique option for garlic fries -->
                        <div v-if="modalFry.name == 'Garlic Fries'">
                          <!-- Radio option for size -->
                          <p>
                            <label for="cheese">Cheese:</label><br>
                            <input class="form-check-input" type="radio" id="keep" value="keep" v-model="fry.options.cheese" v-on:change="fryValidation(fry, modalFry)">
                            <label class="form-check-label" for="keeep">Keep</label>
                            <br>
                            <input class="form-check-input" type="radio" id="remove" value="remove" v-model="fry.options.cheese" v-on:change="fryValidation(fry, modalFry)">
                            <label class="form-check-label" for="remove">Remove</label>
                          </p>
                        </div>
                        <!-- End of fry options -->

                      </div> 
                      <!-- End of modal body content; start of footer-->

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetItem(fry, modalFry)">Close</button>
                          <!-- Add to cart button is disabled if all customization options aren't selected (default)-->
                          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="must select all options before adding to cart">
                            <button id="disabledFryCartButton" class="btn" type="button" disabled>Add to Cart</button>
                          </span>

                          <!-- Add to Cart Button only appears if user selects all options -->
                          <button id="addFryModal" type="button" class="btn" data-bs-dismiss="modal" hidden v-on:click="addFryToCart(fry, modalFry)">Add to Cart</button>
                        </div>          
                    </div>
                  </div>
                </div> <!-- End of modal -->
              </div>
            </div>  
          </div>  <!-- End of row-->    
        </div>   
      </section>

      <!-- DRINKS SECTION -->
      <section class="shadow container p-5 my-5 bg-white rounded">    
        <div class="shadow bg-white border rounded menu-subheader">
          <h2 class="menu-item-heading" id="drinks-section">Drinks</h2> 
          <p>HANDCRAFTED AND MADE-TO-ORDER</p>
        </div>
        <div class="shadow bg-white border rounded">  
          <div class="row container justify-content-center">
            <!-- Drinks loop -->
            <div v-for="(drink, index) in drinks" :key="index" class="col-sm g-0">
              <div class="card p-3 my-5" style="width: 18rem;"> 
                <img class="card-img-top" v-bind:src="drink.image" alt="Card image cap"> 
                <div class="card-body">    
                  <p class="card-title2">{{ drink.name }}</p>   
                  <p class="card-text">{{ drink.description }}</p>  
                  <p class="card-text">{{ drink.price }}</p>   
                  <!-- Add to cart button -->
                  <button class="MenuAddbutton" data-bs-toggle="modal" data-bs-target="#drinkModal" v-on:click="setModalDrink(drink)"><i class="fas fa-cart-plus"></i></button>
                </div> <!-- End of card body -->
                
                <!-- Start of Modal content -->
                
                <div class="modal fade" id="drinkModal" tabindex="-1" aria-labelledby="drinkModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="drinkModalLabel">{{ modalDrink.name }}</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetItem(drink, modalDrink)"></button>
                      </div>
                      <div class="modal-body">
                        <!-- Start of Modal body content -->
                            
                        <!-- Radio option for size -->
                        <p>
                          <label for="size">Size:</label><br>
                          <input class="form-check-input" type="radio" id="small" value="small" v-model="drink.options.size" v-on:change="drinkValidation(drink, modalDrink)">
                          <label class="form-check-label" for="small">Small</label>
                          <br>
                          <input class="form-check-input" type="radio" id="medium" value="medium" v-model="drink.options.size" v-on:change="drinkValidation(drink, modalDrink)">
                          <label class="form-check-label" for="medium">Medium</label>
                          <br>
                          <input class="form-check-input" type="radio" id="large" value="large" v-model="drink.options.size" v-on:change="drinkValidation(drink, modalDrink)">
                          <label class="form-check-label" for="large">Large</label>
                        </p>

                      </div> 
                      <!-- End of modal body content; start of footer-->

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetItem(drink, modalDrink)">Close</button>
                          <!-- Add to cart button is disabled if all customization options aren't selected (default)-->
                          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="must select all options before adding to cart">
                            <button id="disabledDrinkCartButton" class="btn" type="button" disabled>Add to Cart</button>
                          </span>

                          <!-- Add to Cart Button only appears if user selects all options -->
                          <button id="addDrinkModal" type="button" class="btn" data-bs-dismiss="modal" hidden v-on:click="addDrinkToCart(drink, modalDrink)">Add to Cart</button>
                        </div>          
                    </div>
                  </div>
                </div> <!-- End of modal -->
              </div>
            </div>    
          </div>      
        </div>    
      </section> 
    </main> 
  </div> <!-- End of Vue/App -->
  
  <footer>
    <div class="footer-row1">
      <div class="footer-hours">
        <p class="footer-header">Hours</p>
        <p>18111 Nordhoff Street, Northridge, CA 91330</p> 
        <p id="footer-phone">(818) 677-1200</p>
        
        <p><b>Monday:</b> 11:00 AM-11:00 PM<br>         
            <b>Tuesday:</b>   11:00 AM-11:00 PM<br>         
            <b>Wednesday:</b> 11:00 AM-11:00 PM<br>          
            <b>Thursday:</b>  11:00 AM-11:00 PM<br>          
            <b>Friday:</b>    11:00 AM-11:00 PM<br>          
            <b>Saturday:</b>  11:00 AM-11:00 PM<br>          
            <b>Sunday:</b>    11:00 AM-11:00 PM<br>  
        </p>
      </div>
      <div class="footer-socials">
        <p class="footer-header">Connect With us</p>
        <a href="https://www.facebook.com/calstatenorthridge/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/csunorthridge" class="fa fa-twitter"></a>
        <a href="https://www.youtube.com/user/CalStateNorthridge" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/csun_edu/?hl=en" class="fa fa-instagram"></a>
        <a href="https://www.tiktok.com/@csun_usu?lang=en" class="fab fa-tiktok"></a>
      </div>
      <div class="footer-apps">
        <p class="footer-header">Download CSUN Burger App</p>
        <a href="https://apps.apple.com/us/app/csun/id677332861" alt="CSUN App (Apple App Store)"><img src="https://www.go2s.com/wp-content/uploads/2019/09/appstore.png" id="apple-btn"></a>
        <a href="https://play.google.com/store/apps/details?id=edu.csun.mobile" alt="CSUN App (Google Play Store)"><img src="https://www.pngmart.com/files/10/Get-It-On-Google-Play-PNG-Clipart.png" id="android-btn" ></a>
      </div>
      
    </div>
    
    <div class="footer-row2">
      <p>&copy;2021 CSUN Burger Grill. All Rights Reserved</p>       
      <p><a href="#" class="footerLinks">Policies</a> | <a href="TermsOfService.html" class="footerLinks">Terms of Service</a> | <a href="Accessibility.html" class="footerLinks">Accessibility </a> |<a href="ContactPage.html" class="footerLinks"> Contact Us</a> |<a href="Careers.html" class="footerLinks"> Careers</a></p>                
      <p>Site Design by TheTeam</p>
    </div>
  </footer>

  <!-- JS Script -->
  <script src="./orderCheckout.js"></script> 

  <!-- Found on Stack Overflow to get tooltip (fancy text popup on hover) to display; required JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
  <script>
  $(document).ready(function(){      
    $('[data-bs-toggle="tooltip"]').tooltip();   
  });
  </script>

</body>
</html>

